@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,300&display=swap');

* {
    margin: 0;
    padding: 0;
    /* includes the border and margin weight and height*/
    box-sizing: border-box;
    /* fonts, colours  */
    font-family: "Libre Franklin" "Trade Gothic";
    text-align: center;
    color: rgb(5, 74, 5);
}

header {
    padding: 20px;
    background-color: rgb(255, 202, 211);
}

nav ul {
    list-style-type: none;
}

nav li {
    /* inline so we can edit the width and height */
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.about {
    padding: 10px;
    background-color: rgb(255, 202, 211);

}

.about-me-p {
    background-color: rgb(255, 202, 211);
    padding-bottom: 10px;

}

.about:active {
    color: green;
}

.highlight {
    color: #ff4500;
    background-color: rgb(255, 202, 211);
}


.skills:hover {
    color: purple;
}

/* id */
#projects {
    padding: 10px;
    margin: 10px;
}

.project {
    font-family: "Lusitana";
    padding: 10px;
}

.project img {
    max-width: 20%;
    max-height: 20%
}

p {
    font-family: "DM Sans";
}

a {
    padding: 5px;
    margin: 10px;
    font-size: 13px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(255, 202, 211);

}

/* 

Challenges:

- add appropriate styles to the projects section 
add fonts to your page (link) ✅

- add footer 

- pushing up to github ✅

*/


/* _nology link in top section */
.custom-link {
    color: blue; 
    text-decoration: none; 

}

.custom-link:hover {
    color: red; 
    text-decoration: underline; 
}




